<script setup>
import topMenuVue from '../components/top-menu.vue';
import headerVue from '../components/header.vue';
import contentVue from '../components/content.vue';
import menuPageVue from '../components/menu-page.vue';
import newsVue from '../components/news.vue';
import governmentResourcesVue from '../components/governmentResources.vue';
import footerVue from '../components/footer.vue';
</script>

<template>
    <menu-page-vue/>
    <top-menu-vue/>
    <header-vue/>
    <content-vue/>
    <div class="w-full h-114 relative bg-gray-50">
        <government-resources-vue/>
    </div>
    <footer-vue/>

</template>

<style>
</style>