<script setup>
import newsCardVue from "./news-card.vue";
import newsVue from "./news.vue";
import documentsVue from "./documents.vue";
import mediaVue from "./media.vue";
</script>
<template>
  <div class="w-full h-full relative">
    <div class="content h-full mx-auto bg-lightWhite relative">
      <div class="flex flex-row mt-12 items-end gap-x-7">
        <h1 class="text-h2_cont font-OpenSans text-gray-600">Анонcы ближайших событий</h1>
        <a href="#"><p class="font-SourceSans text-li text-lightGreen">Посмотреть все анонсы</p></a>
      </div>

      <div class="flex flex-row gap-7 ml-auto mr-auto mt-7 object-center">
        <newsCardVue />
        <newsCardVue />
        <newsCardVue />
      </div>
      <newsVue />
      <documentsVue />
      <mediaVue />
    </div>
  </div>
</template>

<style>
.content {
  width: 1280px;
}

@media (max-width: 1280px) {
  .content {
    width: calc(1024px + (1280 - 1024) * ((98vw - 1024px) / (1280 - 1024)));
  }
}
</style>