<template>
  <div class="w-full h-full relative">
    <div class="content h-full relative mx-auto mt-20">
      <div class="flex items-end gap-x-6">
        <h1 class="text-gray-600 text-h2_cont font-OpenSans">Документы</h1>
        <a href="#">
          <p class="font-SourceSans text-li text-lightGreen">Посмотреть все документы</p>
        </a>
      </div>

      <div class="flex flex-row mt-6 gap-7">
        <div id="documents" class="flex flex-col justify-between">
          <a href="#">
            <h1
              class="text-news_p text-gray-600 font-SourceSans font-semibold hover:text-lightGreen"
            >Приказ Министерства просвещения и языковой политики Республики Абхазия от 25 октября 2021 г. № 78 «О выдаче свидетельства о признании ученой степени, полученной в иностранном государстве»</h1>
          </a>
          <p class="text-li text-gray-300 font-SourceSans mt-5">21 ноября 2021</p>
        </div>
        <div id="documents" class="flex flex-col justify-between">
          <a href="#">
            <h1
              class="text-news_p text-gray-600 font-SourceSans font-semibold hover:text-lightGreen"
            >Протокол рассмотрения заявок на участие в отборе на предоставление грантов в области науки в форме субсидий из государственного бюджета на обеспечение проведения научных исследований научными…</h1>
          </a>
          <p class="text-li text-gray-300 font-SourceSans mt-5">19 октября 2021</p>
        </div>
        <div id="documents" class="flex flex-col justify-between">
          <a href="#">
            <h1
              class="text-news_p text-gray-600 font-SourceSans font-semibold hover:text-lightGreen"
            >Перечень дополнительных мероприятий к проведению в рамках Годов абхазо-российского научно-технического и инновационного сотрудничества в 2020-2021 годах</h1>
          </a>
          <p class="text-li text-gray-300 font-SourceSans mt-5">21 сентября 2021</p>
        </div>
        <div id="documents" class="flex flex-col justify-between">
          <a href="#">
            <h1
              class="text-news_p text-gray-600 font-SourceSans font-semibold hover:text-lightGreen"
            >Приказ Министерства просвещения и языковой политики Республики Абхазия от 25 октября 2021 г. № 78 «О выдаче свидетельства о признании ученой степени, полученной в иностранном государстве»</h1>
          </a>
          <p class="text-li text-gray-300 font-SourceSans mt-5">13 сентября 2021</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
#documents h1 {
  transition: all 0.3s ease-out;
}

.content {
  width: 1280px;
}

@media (max-width: 1280px;) {
  .content {
    width: calc(1024px + (1280 - 1024) * ((98vw - 1024px) / (1280 - 1024)));
  }
}
</style>