<template>
  <div class="w-full h-120 relative bg-darkGreen">
    <div class="content h-full relative mx-auto">
      <div class="w-full absolute flex flex-row justify-between top-24">
        <div class="flex gap-x-7 font-SourceSans text-li text-lightWhite">
          <div class="flex flex-col gap-y-2">
            <p>
              <a href="">О министерстве</a>
            </p>
            <p>
              <a href="">Деятельность</a>
            </p>
            <p>
              <a href="">Пресс-центр</a>
            </p>
            <p>
              <a href="">Обращения граждан</a>
            </p>
            <input
              class="w-74 mt-6 bg-darkGreen placeholder-gray-300 h-11 border-b-default border-gray-300 outline-none text-lightWhite bg-searchIcon bg-no-repeat bg-right font-OpenSans"
              placeholder="Поиск по сайту"
              type="text"
            />
          </div>
          <div class="flex flex-col gap-2">
            <p>
              <a href="">Документы</a>
            </p>
            <p>
              <a href="">Контакты</a>
            </p>
            <div class="flex flex-row gap-x-4 mt-5">
              <img src="../assets/instaramm-icon.svg" alt="inst" />
              <img src="../assets/facebook-icon.svg" alt="face" />
            </div>
          </div>
        </div>

        <div
          class="mr-20 flex flex-col items-center gap-y-6 text-footH3 text-lightWhite font-SourceSans"
        >
          <img class="w-36" src="../assets/min-pros-logo.svg" alt="min-pros" />
          <h1 class="text-center">
            Министерство просвещения и
            <br />языковой политики Республики Абхазия
          </h1>
        </div>
      </div>

      <div
        class="w-full absolute top-104 h-6 flex flex-row justify-between text-gray-300 font-SourceSans text-li"
      >
        <p>Министерство просвещения и языковой политики Республики Абхазия © 2021</p>
        <h1>Разработка ASAR Studio</h1>
      </div>
    </div>
  </div>
</template>

<style>
  .content{
    width: 1280px;
  }

  @media (max-width: 1280px) {
  .content {
    width: calc(1024px + (1280 - 1024) * ((98vw - 1024px) / (1280 - 1024)));
  }

}

</style>