<template>
    <div class="content h-full relative mt-20 mx-auto">
         <div class="flex items-end gap-x-6">
        <h1 class="text-gray-600 text-h2_cont font-OpenSans">Государственные ресурсы</h1>
      </div>

        <div class="grid grid-rows-2 lg:grid-cols-2 xl:grid-cols-3 mt-8 gap-7 justify-between items-center mx-auto relative text-gray-600">
            <a href="https://presidentofabkhazia.org">
                <div
                    id="card"
                    class="w-102 h-32 bg-lightWhite flex items-center px-6 space-x-6 hover:text-lightGreen"
                >
                    <img src="../assets/zd 1.png" alt="zd1" />
                    <div>
                        <h1 class="text-footH3 font-SourceSans pb-1">Президент Республики Абхазия</h1>
                        <p class="text-lightGreen text-footH3 font-SourceSans">presidentofabkhazia.org</p>
                    </div>
                </div>
            </a>
            <a href="https://parlamentra.org">
                <div
                    id="card"
                    class="w-102 h-32 bg-lightWhite flex items-center px-6 space-x-6 hover:text-lightGreen"
                >
                    <img src="../assets/nar-sobr 1.png" alt="zd1" />
                    <div>
                        <h1 class="0 text-footH3 font-SourceSans pb-1">Народное собрание</h1>
                        <p class="text-lightGreen text-footH3 font-SourceSans">parlamentra.org</p>
                    </div>
                </div>
            </a>
            <a href="https://mfaapsny.org">
                <div
                    id="card"
                    class="w-102 h-32 bg-lightWhite flex items-center px-6 space-x-6 hover:text-lightGreen"
                >
                    <img src="../assets/mid 1.png" alt="zd1" />
                    <div>
                        <h1
                            class="text-footH3 font-SourceSans pb-1"
                        >Министерство иностранных дел Республики Абхазия</h1>
                        <p class="text-lightGreen text-footH3 font-SourceSans">mfaapsny.org</p>
                    </div>
                </div>
            </a>
            <a href="https://www.km-ra.org">
                <div
                    id="card"
                    class="w-102 h-32 bg-lightWhite flex items-center px-6 space-x-6 hover:text-lightGreen"
                >
                    <img src="../assets/cabmin 1.png" alt="zd1" />
                    <div>
                        <h1 class="text-footH3 font-SourceSans pb-1">Кабинет министров Республики Абхазия</h1>
                        <p class="text-lightGreen text-footH3 font-SourceSans">www.km-ra.org</p>
                    </div>
                </div>
            </a>
            <a href="https://mineconom-ra.org">
                <div
                    id="card"
                    class="w-102 h-32 bg-lightWhite flex items-center px-6 space-x-6 hover:text-lightGreen"
                >
                    <img src="../assets/min-econ 1.png" alt="zd1" />
                    <div>
                        <h1
                            class="text-footH3 font-SourceSans pb-1"
                        >Министерство экономики Республики Абхазия</h1>
                        <p class="text-lightGreen text-footH3 font-SourceSans">mineconom-ra.org</p>
                    </div>
                </div>
            </a>
            <a href="https://presidentofabkhazia.org">
                <div
                    id="card"
                    class="w-102 h-32 bg-lightWhite flex items-center px-6 space-x-6 hover:text-lightGreen"
                >
                    <img src="../assets/nar-sobr 1.png" alt="zd1" />
                    <div>
                        <h1
                            class="text-footH3 font-SourceSans pb-1"
                        >Государственный комитет Республики Абхазия по статистике</h1>
                        <p class="text-lightGreen text-footH3 font-SourceSans">presidentofabkhazia.org</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>

<style>
#card:hover:nth-child(0) {
    color: green;
}

.content {
    width: 1280px;
}

@media (max-width: 1280px) {
    .content {
        width: calc(1024px + (1280 - 1024) * ((98vw - 1024px) / (1280 - 1024)));
    }
}
</style>