<template>
  <div class="relative h-167 w-full">
    <div
      class="content top-8 relative gap-x-15 h-35 mx-auto flex justify-between items-center flex-nowrap"
    >
      <div class="flex items-center gap-x-12 z-40">
        <img class="w-35" src="../assets/min-pros-logo.svg" alt="logo" />

        <div class="flex flex-col gap-y-2">
          <h1
            class="text-lightWhite text-h2_30 font-OpenSans not-italic font-normal whitespace-nowrap"
          >
            Министерство просвещения и языковой
            <br />политики
            <span
              class="text-lightWhite text-h2_30 font-OpenSans not-italic font-semibold whitespace-nowrap"
            >Республики Абхазия</span>
          </h1>
          <p class="text-lightWhite text-h3 font-SourceSans not-italic font-normal">
            Официальный сайт Министерства просвещения и
            <br />языковой политики Республики Абхазия
          </p>
        </div>
      </div>

      <ul class="ul-header flex justify-between flex-nowrap whitespace-nowrap">
        <div class="flex lg:gap-8 xl:gap-13 flex-nowrap whitespace-nowrap z-40">
          <li>
            <a href="#">
              <span class="font-SourceSans text-li text-lightWhite">Пресс-центр</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="font-SourceSans text-li text-lightWhite">Деятельность</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="font-SourceSans text-li text-lightWhite">Контакты</span>
            </a>
          </li>
        </div>

        <li class="z-60">
          <div @click="toggleOpened" class="btn not-active">
            <span class="cherta"></span>
            <span class="cherta"></span>
            <span class="cherta"></span>
          </div>
        </li>
      </ul>
      <div class="absolute top-102 z-40">
        <h1 class="text-lightWhite text-h1 font-OpenSans whitespace-nowrap">
          Министерство просвещения и языковой
          <br />политики
          <span class="text-h1 font-OpenSans font-semibold">Республики Абхазия</span>
        </h1>
        <p
          class="text-lightWhite text-h2_28 font-SourceSans mt-4"
        >Главный регулирующи орган Республики в сфере образования и науки</p>
      </div>
    </div>

    <div
      class="absolute top-0 left-0 xl:h-full xl:w-full lg:w-full lg:h-full z-20"
      style="background: linear-gradient(180deg, #124A3D 0%, rgba(18, 74, 61, 0.26) 100%);"
    ></div>

    <div class="w-full h-full bg-cover bg-center absolute top-0 left-0 bg-mainPhoto"></div>
  </div>
</template>

<style>
.ul-header {
  width: 504px;
}
.content {
  width: 1280px;
}

@media (max-width: 1280px) {
  .content {
    width: calc(1024px + (1280 - 1024) * ((98vw - 1024px) / (1280 - 1024)));
  }

  .ul-header {
    width: calc(404px + (504 - 404) * ((100vw - 1024px) / (1280 - 1024)));
  }
}
</style>

<script>

export default {
  data() {
    return {}

  },
  methods: {
    toggleOpened() {
      var togglemenu = document.querySelector('.menu-page');
      togglemenu.classList.toggle('active');
      var btn = document.querySelector('.btn');
      btn.classList.toggle('active');
      btn.classList.toggle('not-active');
       if (document.body.style.overflow == 'hidden') 
        document.body.style.overflow = 'auto';
      else document.body.style.overflow = 'hidden';


    }
  }
}
</script>

<style>
.btn {
  width: 30px;
  cursor: pointer;
}

.cherta {
  display: block;
  border-radius: 3px;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
  position: relative;
}

.cherta + .cherta {
  margin-top: 10px;
}

.active span:nth-child(1) {
  animation: ease 0.4s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.4s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.4s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.4s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.4s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.4s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 2px;
    transform: rotate(0);
  }
  100% {
    top: 12px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 2px;
    transform: rotate(45deg);
  }
  50% {
    top: 2px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 5px;
    transform: rotate(0);
  }
  100% {
    bottom: 12px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 2px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 2px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
</style>