<template>
  <div class="w-full h-full relative">
    <div id="media" class="content h-full relative mx-auto mt-20">
      <div class="flex items-end gap-x-6">
        <h1 class="text-gray-600 text-h2_cont font-OpenSans">Медиатека</h1>
        <a href="#">
          <p class="font-SourceSans text-li text-lightGreen">Посмотреть все</p>
        </a>
      </div>

      <div class="flex flex-row flex-nowrap gap-x-7 mt-8">
        <a href="#">
          <div id="mediacard" class="relative flex items-center justify-center">
            <h1
              class="text-lightWhite absolute text-photocard font-SourceSans font-semibold opacity-0 z-10"
            >День учителя 2021</h1>
            <img src="../assets/media1.png" alt="media1" />
          </div>
        </a>
        <a href="#">
          <div id="mediacard" class="relative flex items-center justify-center">
            <h1
              class="text-lightWhite absolute text-photocard font-SourceSans font-semibold opacity-0 z-10"
            >День учителя 2021</h1>
            <img src="../assets/media2.png" alt="media2" />
          </div>
        </a>
        <a href="#">
          <div id="mediacard" class="relative flex items-center justify-center">
            <h1
              class="text-lightWhite absolute text-photocard font-SourceSans font-semibold opacity-0 z-10"
            >День учителя 2021</h1>
            <img src="../assets/media3.png" alt="media3" />
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<style>
#mediacard img {
  transition: all 0.5s ease-out;
}
#mediacard h1 {
  transition: all 0.4s ease-out;
}
#mediacard:hover img {
  filter: brightness(50%);
}
#mediacard:hover h1 {
  opacity: 1;
}

.content {
  width: 1280px;
}

@media (max-width: 1280px) {
  .content {
    width: calc(1024px + (1280 - 1024) * ((98vw - 1024px) / (1280 - 1024)));
  }
}
</style>