<template>
  <div :class="{ active }" class="menu-page w-full h-270 bg-darkerGreen absolute">
    <div class="content relative h-full mx-auto">
      <div class="relative w-full h-35 top-20 flex gap-27 items-center flex-nowrap">
        <div class="flex gap-7 items-center flex-nowwrap">
          <img class="w-27" src="../assets/min-pros-logo.svg" alt="logo" />

          <div class="flex flex-col">
            <h1 class="text-lightWhite text-h2_30 font-OpenSans font-normal">
              Министерство просвещения и языковой
              <br />политики Республики Абхазия
            </h1>
          </div>
        </div>

        <input
          class="searchInput bg-darkerGreen font-OpenSans text-sm placeholder-gray-300 xl:h-11 lg:h-11 border-b-default border-gray-300 outline-none text-lightWhite bg-searchIcon bg-no-repeat bg-right"
          placeholder="Поиск по сайту"
          type="text"
        />
      </div>
      <div
        class="ul-list-menu absolute w-full h-1/2 mx-auto grid grid-cols-4 grid-rows-1 gap-x-7 xl:whitespace-nowrap font-SourceSans text-footUL text-gray-300"
      >
        <div>
          <h1 class="text-lightWhite mb-4">О министерстве</h1>
          <ul>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Руководство</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Полномочия министерства</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Подведомственные организации</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Кадровый резерв</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Реквизиты</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Коллеги и комиссии</span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <div class="mb-10">
            <h1 class="text-lightWhite mb-4">Деятельность</h1>
            <ul>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>Проектная деятельность</span>
                </a>
              </li>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>План мероприятий</span>
                </a>
              </li>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>Статистика</span>
                </a>
              </li>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>Информация о поступлении в ДОУ и ОУ</span>
                </a>
              </li>
            </ul>
          </div>
          <div class>
            <h1 class="text-lightWhite mb-4">Пресс-центр</h1>
            <ul>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>Награда "Учитель года"</span>
                </a>
              </li>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>Фирменный стиль</span>
                </a>
              </li>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>Аккредитация</span>
                </a>
              </li>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>Медиатека</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <div class="mb-10">
            <h1 class="text-lightWhite mb-4">Документы</h1>
            <ul>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>Трудовой кодекс</span>
                </a>
              </li>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>Нормативно-правовые акты</span>
                </a>
              </li>
            </ul>
          </div>
          <div class>
            <h1 class="text-lightWhite mb-4">Контакты</h1>
            <ul>
              <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
                <a href="#">
                  <span>Заявление на получение гражданства РА</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Заявление на поступление в ВУЗы</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class>
          <h1 class="text-lightWhite mb-4">Обращения граждан</h1>
          <ul>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Порядок обращения</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Опросы</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Форма связи для личного приема граждан</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Часто задаваемые вопросы</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Отчет о работе с обращениями граждан</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Заявление на прием на трудоустройство</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Заявление на прием в интернаты</span>
              </a>
            </li>
            <li class="lg:mb-0 xg:mb-1 2xl:mb-2">
              <a href="#">
                <span>Заявление на получение гражданства РА</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Заявление на поступление в ВУЗы</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-foot relative w-full mx-auto flex justify-between">
        <div class="flex gap-x-8">
          <p class="font-SourceSans text-lightWhite text-footUl">Соцсети</p>
          <div class="flex gap-x-4">
            <a href="#">
              <img src="../assets/instaramm-icon-Green.svg" alt="inst" />
            </a>
            <a href="#">
              <img src="../assets/facebook-icon-Green.svg" alt="face" />
            </a>
          </div>
        </div>
        <div class="flex languages text-gray-300 font-SourceSans">
          <a class href="#">Рус</a>
          <a class="font-OpenSans leading-snug" href="#">Аԥс</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

</script>

<style>
.menu-foot {
  top: 856px;
}

.ul-list-menu {
  top: 288px;
}

.menu-page {
  transition: all 0s ease-in;
  /* После адаптива вернуть opacity:0 */
  opacity: 0;
  z-index: -100;
}

.menu-page.active {
  opacity: 100;
  z-index: 50;
}

.content {
  width: 1280px;
}

.searchInput {
  width: 516px;
}

@media (max-width: 1650px) {
  .ul-list-menu {
    top: calc(220px + (288 - 220) * ((100vw - 1024px) / (1560 - 1024)));
  }

  /* .menu-foot{
    top: calc(856px + (502 - 856) * ((100vw - 1024px) / (1560 - 1024)));
  } */
}

@media (max-height: 769px) {
  .menu-foot {
    top: 479px;
  }
}

@media (max-width: 1280px) {
  .content {
    width: calc(1024px + (1280 - 1024) * ((98vw - 1024px) / (1280 - 1024)));
  }

  .searchInput {
    width: calc(200px + (516 - 200) * ((100vw - 1024px) / (1280 - 1024)));
  }
}
</style>