<template>
    <div id="NewsCardId" class="w-102 h-40 ">
        <h1 class="text-news_h font-OpenSans ml-7 mt-4">День учителя 6 октября</h1>
        <p class=" text-news_p font-OpenSans ml-7 mt-4 text-gray-400">6 октября отмечается День учителя. Мероприятия пройдут во всех учебных заведениях Республики. </p>
    </div>
    
</template>

 <style>
     #NewsCardId{
         background-position-x: 16px;
         background-size: 200% 100%;
         background-image: linear-gradient(to left, #EFF3F1 50%, #FFFFFF 50% );
         transition: background-position 0.400s;
         transition-timing-function: ease-out;
     }

     #NewsCardId:hover{
         background-position: -100% 0;
     }
</style>