<template>
    <div class="w-full h-full relative">
        <div class="content h-full relative mx-auto mt-20">
            <div class="flex items-end gap-x-6 ">
                <h1 class="text-gray-600 text-h2_cont font-OpenSans">Новости</h1>
                <a href="#"><p class="font-SourceSans text-li text-lightGreen">Посмотреть все новости</p></a>
            </div>

            <div class="w-full h-106 relative mt-6 inline-flex gap-28">
                <div class="flex flex-col justify-between">
                    <img src="../assets/news1.png" alt="news" />
                    <div class="w-full h-2 bg-gray-200"></div>
                </div>
                <div class="w-109 h-full flex flex-col justify-between">
                    <div>
                        <p class="text-li text-gray-300 font-SourceSans">21 сентября 2021</p>
                        <h1 class="text-gray-600 text-news_h_2 font-OpenSans font-semibold mt-8">
                            Открытие научного центра в
                            <br />Сухуме
                        </h1>
                        <p
                            class="text-footH3 text-gray-500 font-SourceSans mt-16"
                        >6 октября отмечается День учителя. Мероприятия пройдут во всех учебных заведениях Республики. Студенты под руководством ученых ― представителей семи научных и научно-производственных организаций России</p>
                    </div>
                    <div class="w-full h-2 bg-gray-300"></div>
                </div>
            </div>

            <div class="w-full relative flex flex-row mt-13 gap-7">
                <div>
                    <img src="../assets/news2.png" alt="news2" />
                    <h1
                        class="text-gray-600 text-news_h_3 font-OpenSans mt-2 font-semibold"
                    >Был анонсирован старт наставнического проекта «Женская лига»</h1>
                    <p class="text-li text-gray-300 font-SourceSans mt-5">21 сентября 2021</p>
                </div>
                <div>
                    <img src="../assets/news3.png" alt="news3" />
                    <h1
                        class="text-gray-600 text-news_h_3 font-OpenSans mt-2 font-semibold"
                    >Был анонсирован старт наставнического проекта «Женская лига»</h1>
                    <p class="text-li text-gray-300 font-SourceSans mt-5">21 сентября 2021</p>
                </div>
            </div>
        </div>
    </div>
</template>

<style>

    .content{
        width:1280px;
    }

    @media (max: width 1280px;){
        .content{
           width: calc(1024px + (1280 - 1024) * ((98vw - 1024px) / (1280 - 1024)));
        }
    }

</style>