<template>
    <div class="relative top-0 left-0 w-full h-12 bg-darkGreen z-0">
        <div class="content px-1 h-full mx-auto text-gray-300 grid items-center font-SourceSans not-italic font-normal">
            <ul class="flex flex-nowrap justify-between text-li">
                <div class="top-menu-list flex">
                    <li class="whitespace-nowrap">
                        <a href="#">Обращения граждан</a>
                    </li>
                    <li class="whitespace-nowrap">
                        <a href="#">Контакты</a>
                    </li>
                    <li class="whitespace-nowrap">
                        <a href="#">Документы</a>
                    </li>
                    <li class="whitespace-nowrap">
                        <a href="#">Частые вопросы</a>
                    </li>
                    <li class="whitespace-nowrap">
                        <a href="#">Опрос</a>
                    </li>
                </div>
                <div>
                    <li class="whitespace-nowrap">
                        <div class="flex languages">
                            <a class href="#">Рус</a>
                            <a class="font-OpenSans leading-snug" href="#">Аԥс</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</template>

<style>
.content {
    width: 1280px;
}
.languages {
    gap: 32px;
}

.top-menu-list {
    gap: 124px;
}

@media (max-width: 1280px) {
    .top-menu-list {
        gap: calc(50px + (124 - 50) * ((100vw - 1024px) / (1280 - 1024)));
    }
    .languages {
        gap: calc(15px + (32 - 15) * ((100vw - 1024px) / (1280 - 1024)));
    }
    .content {
        width: calc(
            1024px + (1280 - 1024) * ((98vw - 1024px) / (1280 - 1024))
        );
    }
}
</style>
  
